@model TicariOtomasyon.Models.Siniflar.Kategori


@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>KategoriGetir</h2>


@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{


<div class="form-control">
    @Html.HiddenFor(x => x.KategoriId)
    @Html.LabelFor(x => x.KategoriAd)
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <button class="btn btn-info"> Ekle </button>
</div>


    
}