

<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Formu </h3>
        <div class="login-agileits-top">
            <form  method="post">
                <input type="text" class="name" name="CariAd" Placeholder="Ad" required="" />
                <input type="text" class="surname" name="CariSoyad" Placeholder="Soyad" required="" />
                <input type="text" class="city" name="CariSehir" Placeholder="Sehir" required="" />
                <input type="email" class="email" name="CariMail" Placeholder="Email" required="" />
                <input type="password" class="password" name="Sifre" Placeholder="Şifre" required="" />


                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kullanım Şartlarını Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>
