
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index3</h2>


<div style:"width: 1000px , height:1000px>

    <img src="@Html.Action("Index3" ,"Grafik")" />


</div>

